<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="TtinfoName">
	<resultMap type="bean.TtinfoBean" id="ttinfoBean">
		<id  property="tid"  column="tid"/>
		<result property="title" column="title"/>
		<result property="tag" column="tag"/>
		<result property="downloadtimes" column="downloadtimes"/>
		<result property="looktimes" column="looktimes"/>
		<result property="upid" column="upid"/>
	</resultMap>
	<select id="getTtinfo"  resultType="Map">
		SELECT * FROM ttinfo a,uploadinfo b,userinfo c WHERE a.upid=b.upid AND b.uid=c.uid LIMIT #{page},6
	</select>
	<select id="queryTtinfoCount" resultType="int">
		select count(*) tcount from ttinfo
	</select>
	<select id="queryLikeTtinfo" resultType="Map">
		SELECT * FROM ttinfo a,uploadinfo b,userinfo c WHERE a.upid=b.upid AND b.uid=c.uid and a.title like #{title} LIMIT #{pageNow},6
	</select>
	<select id="queryLikeTtinfoCount" resultType="int">
		select count(*) tcount from ttinfo where title like #{title} 
	</select>
	<select id="queryOneTtinfo" resultType="Map">
		SELECT tt.tid,tt.title,tt.tid,img.src,img.alt,img.tag,up.uptime,up.state,us.username FROM ttinfo tt
			INNER JOIN imginfo img ON tt.`tid`=img.`tid`
			INNER JOIN uploadinfo up ON tt.`upid`=up.`upid`
			INNER JOIN userinfo us ON up.`uid`=us.`uid`
			WHERE img.tid IN(
				SELECT t.tid FROM (
					SELECT tid FROM ttinfo WHERE tid=#{tid}
				) t
			) ORDER BY img.tid DESC
		
	</select>
	<select id="deleteTtinfo" resultType="boolean">
				delete from ttinfo where tid=#{tid}
	</select>
	<select id="queryTtinfoMessage" resultMap="ttinfoBean">
		select * from ttinfo where tid=#{tid}
	</select>
	<select id="updateTtinfo" resultType="int">
		update ttinfo set title=#{title},tag=#{tag} where tid=#{tid}
	</select>
</mapper>

